*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #1a1a1a;
    color: #fff;
}
.container{
    padding: 10px 25%;
}
h3{
    font-weight: normal;
}

/* ----------button---------- */
button{
    min-width: 100px;
    padding: 12px;
    background-color: #1a1a1a;
    border-style: solid;
    border-color: #b54769;
    border-radius: 6px;
    color: #b54769;
    font-size: 24;
    font-weight: bold;
}
button:hover{
    border-color: #fff;
    color: #fff;
}

/* ----------header---------- */
#header{
    width: 100%;
    position: fixed;
    background-color: #1a1a1a;
    padding-top: 20px;
}
#header .rows{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title
{
    font-size: 24px;
    margin-left: 10px;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #b54769;
    font-size: 61px;
    margin-right: 20px;
}
nav a:hover{
    color: #fff;
}

/*----------summary----------*/
#summary{
    margin-top: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
#headshot{
    width: 240px;
    margin-right: 20px;
}
#summary p{
    font-size: 32px;
}

/* ----------my-games---------- */
.sub-title{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.game-col-1{
    flex-basis: 40%;
}
.game-col-1 img{
    width: 100%;
}
.game-col-2{
    flex-basis: 55%;
}
.game-col-2 h3{
    font-size: 28px;
    margin-bottom: 15px;
}
.game-col-2 p{
    font-size: 20px;
    margin-bottom: 15px;
}
#game3 .game-col-1 img{
    width: 40%;
}

/* ----------about-me---------- */
#about .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
#about .subtitle{
    align-items: flex-start;
}
#about .box{
    padding-top: 24px;
}
#about p{
    font-size: 24px;
    width: 800px;
    margin-bottom: 24px;
    text-align: justify;
}